@use "font";
@use "variables";
@use "containers/flex";
html {
    height: 100%;
    background-color: variables.$background-gradient;
    font-family: 'Avenir Next';
    font-size: variables.$base-font-size;
    font-weight: 500;
}
body {
    background: radial-gradient(circle, rgba(197, 183, 165, 0.288) 10%, rgba(239, 128, 49, 0.055) 50%, rgba(63,94,251,0) 91%);
    
    // background-position: -50%;
    background-size: 200%;
}
img {
    max-width: 100%;
}
h1,h2,h3 {
    text-transform: uppercase;
}
h1 {
    font-size: 3rem;
    color: variables.$gray-primary;
    font-weight: normal
}
h2 {
    @include flex.flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    color: variables.$orange-primary;
    span {
        font-size: 2rem;
        color: variables.$green-primary;
    }
}
h3 {
    color: variables.$gray-primary;
}
p {
    color: variables.$gray-secondary;
}
ul {
    list-style-type: none;
    // margin: 0;
    padding: 0;
}