// Colors
$primary: #EFDCC6;
$gray-primary: #333333;
$gray-secondary: #4F4F4F;
$white-primary: #FEFEFE;
$green-primary: #647B64;
$orange-primary: #F3B562;
// Gradients
$background-gradient: linear-gradient(164deg, rgba(239, 128, 49, 0.00) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0.00) 119.45%);
$button-gradient: linear-gradient(102deg, #647B64 -4.62%, #66AC66 178.22%); 
// Font sizes
$base-font-size: 16px;