@use "./../responsiveness";
@use "./../containers/flex";
header {
    @include flex.flex;
    @include flex.between;
    padding: 4rem;
    nav {
        opacity: 0;
        display: none;
    }
    @include responsiveness.lg {
        nav {
            opacity: 1;
            display: block;
        }
        & > button {
            display: none;
        }
    }
    @include responsiveness.xl {
        max-width: 1400px;
        margin: 0 auto;
    }
}