@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next"), url("./../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-style: italic;
  font-weight: normal;
  src: local("Avenir Next"), url("./../assets/fonts/AvenirNext/AvenirNextLTPro-It.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: bold;
  src: local("Avenir Next"), url("./../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf") format("opentype");
}
html {
  height: 100%;
  background-color: linear-gradient(164deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: 500;
}

body {
  background: radial-gradient(circle, rgba(197, 183, 165, 0.288) 10%, rgba(239, 128, 49, 0.055) 50%, rgba(63, 94, 251, 0) 91%);
  background-size: 200%;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  color: #333333;
  font-weight: normal;
}

h2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  color: #F3B562;
}
h2 span {
  font-size: 2rem;
  color: #647B64;
}

h3 {
  color: #333333;
}

p {
  color: #4F4F4F;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}
header nav {
  opacity: 0;
  display: none;
}
@media screen and (min-width: 992px) {
  header nav {
    opacity: 1;
    display: block;
  }
  header > button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  header {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.btn {
  background: linear-gradient(102deg, #647B64 -4.62%, #66AC66 178.22%);
  text-align: left;
  border: none;
  color: #FEFEFE;
  gap: 2rem;
  padding: 1em 1em;
  cursor: pointer;
}
.btn:hover {
  color: black;
}

a {
  text-decoration: none;
  margin: 1.5rem;
  color: #333333;
}
a:hover {
  color: #647B64;
}

.btn-start {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 270px;
}
.btn-start::after {
  content: url("./../../assets/icons/nav/s-arrow.svg");
  vertical-align: baseline;
  display: inline-block;
}

.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 12px;
}

.h2 {
  font-weight: normal;
  font-size: 1.5rem;
}
.h2 span {
  font-size: 2rem;
}

.hero {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 4rem 0;
}
.hero .hero-txt {
  width: 75%;
}
.hero .hero-img img {
  position: relative;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
  right: -40%;
}
@media screen and (min-width: 992px) {
  .hero .hero-img img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    right: 0%;
  }
  .hero .hero-txt {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
  }
}

.service {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .service .seperator {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .service {
    align-items: center;
  }
  .service .seperator {
    margin-left: calc((100% - 1400px) / 2);
    padding-left: 0;
  }
}
.service .service-header {
  width: 70%;
  position: relative;
  transform: translate(2rem);
}
.service .service-header > * {
  margin: 1.5rem 0;
}
.service .service-header p {
  line-height: 132%;
}
.service .service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-items: center;
}
.service .service-cards > div {
  width: 189px;
  position: relative;
  transition-duration: 500ms;
  padding: 0;
  margin: 2rem;
  border-radius: 1rem;
}
.service .service-cards > div:hover {
  padding: 2rem;
  margin: 0;
  width: 189px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.103);
  background-color: #FEFEFE;
}
.service .service-cards > div > div:first-child {
  transition-duration: 500ms;
  border-radius: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  width: 3rem;
  height: 3rem;
}
.service .service-cards > div > div:first-child > img {
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}
.service .service-cards > div > div:first-child > img:hover {
  filter: brightness(1000%);
}
.service .service-cards > div > div:first-child:hover {
  background-color: #647B64;
}

.tech {
  padding: 4rem 0;
  padding-left: 2rem;
}
.tech > h2 {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .tech {
    padding-left: 0rem;
  }
}
.tech > div {
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .tech > div {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .tech > div {
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 0;
  }
}
.tech > div > * {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  white-space: normal;
  border-radius: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.103);
  padding: 1rem;
  margin: 1rem;
}
.tech > div > * img {
  height: 4rem;
  align-self: flex-start;
}
.tech > div > *:nth-child(2n+2) {
  background-color: #647B64;
}
.tech > div > *:nth-child(2n+2) div > h3,
.tech > div > *:nth-child(2n+2) div > p {
  color: #FEFEFE;
}
.tech > div > *:nth-child(2n+2) img {
  filter: invert(100%) sepia(66%) saturate(45%) hue-rotate(68deg) brightness(113%) contrast(99%);
}
.tech > div > *:nth-child(3n+1) {
  background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFF;
}

.connect {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 4rem 0;
}
.connect .connect-wrapper {
  position: relative;
  left: -25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
@media screen and (min-width: 992px) {
  .connect .connect-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .connect .connect-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.connect .connect-wrapper > *:first-child {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.connect .connect-wrapper > *:first-child img {
  height: 100%;
}
.connect .connect-wrapper > *:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(164deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  right: -2rem;
  bottom: -3rem;
  z-index: -1;
}

.founders {
  white-space: nowrap;
  overflow: hidden;
  padding: 4rem 0;
}
.founders .founder-head {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media screen and (min-width: 1200px) {
  .founders .founder-head {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.founders .founder-cards {
  margin-left: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media screen and (min-width: 1600px) {
  .founders .founder-cards {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.founders .founder-cards .founder {
  background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFF;
  width: 300px;
  padding: 1rem 2rem 1rem 1.5rem;
  display: inline-block;
  border-radius: 1rem;
}
.founders .founder-cards .founder .founder-card {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.founders .founder-cards .founder .founder-card .founder-name {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
}
.founders .founder-cards .founder .founder-card .founder-name span {
  font-size: 10px;
  font-weight: 400;
  color: #4F4F4F;
}
.founders .founder-cards .founder p {
  font-style: italic;
}
.founders .founder-cards .founder p {
  white-space: normal;
}
.founders .nav-buttons {
  display: flex;
}
.founders .nav-buttons button {
  display: none;
  border: none;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
}
.founders .nav-buttons button:last-child {
  background: linear-gradient(102deg, #647B64 -4.62%, #66AC66 178.22%);
}
@media screen and (min-width: 992px) {
  .founders .nav-buttons button:last-child {
    display: block;
  }
}
.founders .nav-buttons button:last-child img {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 992px) {
  .founders .nav-buttons button {
    display: block;
  }
}

footer {
  background-color: #F0DCC5;
}
footer > .footer-wrapper {
  padding: 2rem;
}
@media screen and (min-width: 992px) {
  footer > .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  footer > .footer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
}
footer > .footer-wrapper .about ul {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 1rem;
  align-items: center;
}
footer > .footer-wrapper .about ul > li {
  cursor: pointer;
}
footer > .footer-wrapper .about ul img:hover {
  filter: brightness(1000%);
}
footer > .footer-wrapper .about ul > :first-child img {
  background-color: #e2d2bb;
  border-radius: 100%;
  padding: 0.5rem;
}
footer > .footer-wrapper h3 {
  font-weight: normal;
}
footer > .footer-wrapper .links {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer > .footer-wrapper .links h3 {
  margin-top: 0;
  color: #647B64;
}
footer > .footer-wrapper .links li {
  margin: 1rem 0;
}
footer > .footer-wrapper .links li a {
  margin: 0;
}
footer > .footer-wrapper .contact {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-direction: column;
  gap: 1rem;
}
footer > .footer-wrapper .contact h3 {
  color: #647B64;
  margin-top: 0;
  margin-bottom: 0;
}
footer > .footer-wrapper .contact .btn-full {
  width: 100%;
}

.background {
  position: absolute;
}

.inline {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.gradient::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  right: -1rem;
  top: -1rem;
  overflow: visible;
  padding: 1rem 1rem;
  background: linear-gradient(164deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  z-index: -1;
}

.container.hero {
  padding-left: 2rem;
}/*# sourceMappingURL=style.css.map */