@mixin flex {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
@mixin center {
    justify-content: center;
    align-items: center;
}
@mixin around {
    justify-content: space-around;
    align-items: center;
}