@use "./../../containers/flex";
@use "./../../responsiveness";

.hero {
    @include flex.flex;
    @include flex.between;
    overflow: hidden;

    margin: 0 auto;

    .hero-txt {
        width: 75%;
    }

    .hero-img img {
        position: relative;
        height: 500px;
        object-fit: cover;
        object-position: 0;
        right: -40%;
    }

    @include responsiveness.lg {
        .hero-img img {
            height: auto;
            object-fit: cover;
            right: 0%;
        }

        .hero-txt {
            width: 50%;
        }
    }

    // @include responsiveness.xl {
    //     max-width: 1200px;
    //     margin: 0 auto;
    // }
}