.btn-start {
    position: relative;
    &::after{
        content: '';
        position:absolute;
        right:0;
        top:0;
        width: 100%;
        height: 100%;
        background-position: 100%;
        background-image: url("./../../assets/icons/nav/s-arrow.svg");
        background-repeat: no-repeat;
    }
}