@use "./../variables";
@use "./../containers/flex";
.btn {
    background: variables.$button-gradient;
    text-align: left;
    border: none;
    color: variables.$white-primary;
    gap:2rem;
    padding: 1rem 1rem;
    @include flex.flex;
    @include flex.between;
}
.btn-start {
    position: relative;
    &::after{
        content: url("./../../assets/icons/nav/s-arrow.svg");
        vertical-align: baseline;
        display: inline-block;
    }
}
.burger-btn {
    background-color: transparent;
    border:none;
}